
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

.container{
  align-items: center;
}

.list-group-item{
  background-color: #0000003b !important;
  margin-bottom: 5% !important;
  line-height: 10vh;
  display: flex;
  align-items: center;
  /* display: flex !important;
  align-items: center !important;*/
}

.badge{
  background-color: black;
  max-width: 9vh;
  max-height: 9vh;
  margin: auto;
}

.lettering{
  margin: auto;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 0;
}

.contactPhoto{
  color: #fffbfb;
  text-align: center;
  padding: 50px 80px;
  position: relative;
  text-align: justify;
  display: flex;
  align-items: center;
}

.contentContact{
  display: flex;
  flex: 50%;
  align-items: center;
  color: #fffbfb;
  background-color: #000000a1;
  text-align: center;
  padding: 50px 80px;
  position: relative;
  text-align: justify;
  box-shadow: 10px 5px 5px #00000054;
}

.contactPhotoText{
  color: #fffbfb;
  text-align: center;
  padding: 50px 80px;
  position: relative;
  text-align: justify;
}

.contactLogo{
  flex: 50%;
  background-image: url('../../assets/LogoAvivaBrancoContato.png');
  color: #fffbfb;
  background-color: #0000002b;
  text-align: center;
  padding: 50px 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: relative;
  text-align: justify;
  box-shadow: 10px 5px 5px #00000054;
}

p.contato{
  margin-bottom: 0;
  padding-left: inherit;
}

.parallax {
  /* The image used */
  background-image: url('../../assets/teste.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
