<div class="parallax">
  <!-- <div class="row" style="height: inherit; display: flex; flex-wrap: wrap;">
    <div class="column contentContact" style="float: left">
      <div class="col contactPhotoText">
        <h3 style="text-align:center; color: white; font-weight: bold; text-shadow: 10px 5px 5px #00000054">Entre em
          contato conosco!</h3>
        <div class="col contactPhoto">
          <ul class="list-group list-group-flush" style="width: inherit;">
            <ul class="list-group"> -->
  <!----------------------------------------------------------------FACEBOOK---------------------------------------------------------------->
  <!-- <li class="list-group-item">
                <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.facebook.com/IgrejaAviva18"
                  target="_blank"><i class="fab fa-facebook-f mr-5"></i>Facebook</a>
              </li> -->
  <!----------------------------------------------------------------INSTAGRAM---------------------------------------------------------------->
  <!-- <li class="list-group-item">
                <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.instagram.com/aviva_igreja"
                  target="_blank"><i class="fab fa-instagram mr-5"></i>Instagram</a>
              </li> -->
  <!----------------------------------------------------------------INSTAGRAM---------------------------------------------------------------->
  <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->
  <!-- <li class="list-group-item">
                <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.instagram.com/aviva_igreja"
                  target="_blank"><i class="fab fa-youtube mr-5"></i>YouTube</a>
              </li> -->
  <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->
  <!-- </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="column contactLogo">

    </div>
  </div> -->

  <div class="row">
    <div class="column contentContact">
      <div>
        <h3 style="text-align:center; color: white; font-weight: bold; text-shadow: 10px 5px 5px #00000054">Entre em
          contato conosco!</h3>
        <div>
          <ul class="list-group list-group-flush" style="width: inherit;">
            <ul class="list-group">
              <!----------------------------------------------------------------FACEBOOK---------------------------------------------------------------->
              <li class="list-group-item">
                <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.facebook.com/IgrejaAviva18"
                  target="_blank"><i class="fab fa-facebook-f mr-5"></i>Facebook</a>
              </li>
              <!----------------------------------------------------------------INSTAGRAM---------------------------------------------------------------->
              <li class="list-group-item">
                <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.instagram.com/aviva_igreja"
                  target="_blank"><i class="fab fa-instagram mr-5"></i>Instagram</a>
              </li>
              <!----------------------------------------------------------------INSTAGRAM---------------------------------------------------------------->
              <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->
              <!-- <li class="list-group-item">
                <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.instagram.com/aviva_igreja"
                  target="_blank"><i class="fab fa-youtube mr-5"></i>YouTube</a>
              </li> -->
              <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="column" style="background-color:#bbb;">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
  </div>

</div>
