<div class="parallax">
  <div class="row" style="height: inherit;">
    <div class="col contactPhoto">
      <ul class="list-group list-group-flush">
        <ul class="list-group">
          <!----------------------------------------------------------------FACEBOOK---------------------------------------------------------------->
          <li class="list-group-item">
            <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.facebook.com/IgrejaAviva18"
              target="_blank"><i class="fab fa-facebook-f mr-5"></i>Facebook</a>
          </li>
          <!----------------------------------------------------------------INSTAGRAM---------------------------------------------------------------->
          <li class="list-group-item">
            <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.instagram.com/aviva_igreja"
              target="_blank"><i class="fab fa-instagram mr-5"></i>Instagram</a>
          </li>
          <!----------------------------------------------------------------INSTAGRAM---------------------------------------------------------------->
          <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->
          <li class="list-group-item">
            <a class="text-white btn-floating btn-fb btn-sm lettering" ref="https://www.instagram.com/aviva_igreja"
              target="_blank"><i class="fab fa-youtube mr-5"></i>YouTube</a>
          </li>
          <!----------------------------------------------------------------YOUTUBE---------------------------------------------------------------->

        </ul>
      </ul>
      <!-- <ul class="list-group" style="margin-top: 10%;">
        <li class="list-group-item">
          <div class="container" style="background-color: white;">
            <span class="badge badge-primary badge-pill"><i class="fab fa-instagram"></i></span>
            <a class="nav-link" href="https://www.instagram.com/aviva_igreja" target="_blank" style="color: white;">Instagram</a>
          </div>
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill"><i class="fab fa-instagram"></i></span>
          <a class="nav-link" href="https://www.instagram.com/aviva_igreja" target="_blank" style="color: white;">Instagram</a>
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill"><i class="fab fa-instagram"></i></span>
          <a class="nav-link" href="https://www.instagram.com/aviva_igreja" target="_blank" style="color: white;">Instagram</a>
        </li>
        <li class="list-group-item">
          <span class="badge badge-primary badge-pill"><i class="fab fa-instagram"></i></span>
          <a class="nav-link" href="https://www.instagram.com/aviva_igreja" target="_blank" style="color: white;">Instagram</a>
        </li>

      </ul> -->
    </div>
    <div class="col contactLogo">
      <h3 style="text-align:center; color: white; font-weight: bold; text-shadow: 10px 5px 5px #00000054">Entre em
        contato conosco!</h3>
    </div>
  </div>
  <div class="container mt-4">
    <!-- <div class="row" style="margin: auto"> -->
    <!-- <div class="col-sm">
          <div class="card example hoverable rounded mb-1" style="width: 18rem;">
            <img src="../../../assets/3 - contact (3).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Instagram</h3>
              <a href="#" class="btn btn-primary" style="margin: auto;">IR PARA INSTAGRAM</a>
            </div>
          </div>
        </div>

        <div class="col-sm ml-5">
          <div class="card example hoverable rounded mb-1" style="width: 18rem;">
            <img src="../../../assets/3 - contact (2).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Facebook</h3>
              <a href="#" class="btn btn-primary" style="margin: auto;">IR PARA FACEBOOK</a>
            </div>
          </div>
        </div>

        <div class="col-sm ml-5">
          <div class="card example hoverable rounded mb-1" style="width: 18rem;">
            <img src="../../../assets/youtube.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">YouTube</h3>
              <a href="#" class="btn btn-primary" style="margin: auto;">IR PARA YOUTUBE</a>
            </div>
          </div>
        </div>

        <div class="col-sm ml-5">
          <div class="card example hoverable rounded mb-1" style="width: 18rem;">
            <img src="../../../assets/3 - contact (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Email</h3>
              <a href="#" class="btn btn-primary" style="margin: auto;">ENVIAR EMAIL</a>
            </div>
          </div>
        </div> -->

    <!-- </div> -->
  </div>

</div>
