<div class="container mt-4">
  <div class="row" style="margin: auto">
      <div class="col col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/3 - contact (3).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Instagram</h3>
            <a href="#" class="btn btn-primary" style="margin: auto;">IR PARA INSTAGRAM</a>
          </div>
        </div>
      </div>

      <div class="col col-md-3 ml-5">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/3 - contact (2).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Facebook</h3>
            <a href="#" class="btn btn-primary" style="margin: auto;">IR PARA FACEBOOK</a>
          </div>
        </div>
      </div>

      <div class="col col-md-3 ml-5">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/3 - contact (1).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Email</h3>
            <a href="#" class="btn btn-primary" style="margin: auto;">ENVIAR EMAIL</a>
          </div>
        </div>
      </div>
  </div>
</div>
