#hero{
  /* background-image: url(../../../assets/1.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center; */
}

.h-txt {
  padding: 20 2%;
}

.container-aviva{
  position: absolute;
  /* background: rgba(131, 92, 92, 0.5); */
  margin-top: -39%;
  margin-left: 16%;
}

.overlay-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h1-aviva {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 80%;
}

.p-aviva {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  line-height: 1.7rem;
}
/* #myVideo{} */

@media (min-aspect-ratio: 16/9){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #myVideo {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 8/5){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 3/2){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (aspect-ratio: 1/1){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

/* @media (max-width: 767px){
  #myVideo {
    width: 100%;
    height: 100%;
  }
} */

