<div class="container" style="margin: 0px; padding: 0px; max-width: 100%;">

  <section id="hero" class="full-screen-video-container" style="height: 100%;">
    <video autoplay="true" muted playsinline loop id="myVideo">
      <source src="../../../assets/siteEscuro.mp4" type="video/mp4">
    </video>
    <div class="container-aviva">
      <div class="overlay-desc">
        <h1 class="h1-aviva" style="font-weight: bold;">IGREJA AVIVA</h1>
        <p class="p-aviva">O <span style="font-weight: bold;">AMOR</span> NOS MOVE. O QUE TE MOVE?</p>
      </div>
    </div>
  </section>


  <div class="container nossosCultos margemSecoes">
    <div class="rowMargin" style="width: -webkit-fill-available;">
      <div class="col">
        <h2 style="color: black; font-weight: bold; text-align: center;">Nossos cultos</h2>
        <hr class="linhaPequena">
        <div class="rowMargin">
          <div class="col-6 mt-4"
            style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <i class="far fa-calendar-alt" style="font-size: xx-large;"></i>
            <h4 class="mt-3" style="font-weight: 500;">Domingo</h4>
            <p class="lead mt-3">19:00HRS</p>
          </div>
          <div class="col-6 mt-4"
            style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <i class="far fa-calendar-alt" style="font-size: xx-large;"></i>
            <h4 class="mt-3" style="font-weight: 500;">Quarta</h4>
            <p class="lead mt-3">19:30HRS</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card card-image"
        style="background-image: url('../../../assets/fundoHome.jpeg'); background-size: cover;">
        <div class="text-white text-center d-flex align-items-center justify-content-center py-5 px-4" style="background-color: rgba(0, 0, 0, 0);">
          <div>
            <h6 style="color: white"><i class="fas fa-plane"></i><strong> Travel</strong></h6>
            <h3 class="card-title py-3 font-weight-bold"><strong>This is the card title</strong></h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!</p>
            <a class="btn btn-primary btn-rounded"><i class="far fa-clone left"></i> View project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container nossosCultos margemSecoes">
    <div class="row" style="width: -webkit-fill-available;">
      <div class="col">
        <h2 style="color: black; font-weight: bold; text-align: center;">Nossos pastores</h2>
        <hr class="linhaPequena">
        <div class="rowMargin">
          <div class="col-6 mt-4"
            style="display: flex; align-items: center; justify-content: center; flex-direction: column; max-width: -webkit-fill-available !important">
            <!-- Card Regular -->
            <div class="card card-cascade">

              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img class="card-img-top" src="../../../assets/pastor.jpg" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>Rodrigo Nakanichi</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Pastor</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                  recusandae.
                  Facere modi sunt, quod quibusdam.
                </p>
              </div>
            </div>
            <!-- Card Regular -->
          </div>
          <div class="col-6 mt-4"
            style="display: flex; align-items: center; justify-content: center; flex-direction: column; max-width: -webkit-fill-available !important">
            <!-- Card Regular -->
            <div class="card card-cascade">

              <!-- Card image -->
              <div class="view view-cascade overlay">
                <img class="card-img-top" src="../../../assets/pastora.jpg" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>

              <!-- Card content -->
              <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>Cláudia Alves</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold py-2">Pastora</h6>
                <!-- Text -->
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex,
                  recusandae.
                  Facere modi sunt, quod quibusdam.
                </p>
              </div>

            </div>
            <!-- Card Regular -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rowMetade" style="background-color: black; height: -webkit-fill-available;">
    <div class="columnMetade localizacao">
      <!-- <app-map></app-map> -->
    </div>

    <div class="columnMetade localizacaoDados">
      <a class="mb-5" target="_blank" href="https://www.google.com/maps/place/R.+Ant%C3%B4nio+Haddad,+185+-+Parque+Via+Norte,+Campinas+-+SP,+13065-702/@-22.8748306,-47.128833,19.6z/data=!4m5!3m4!1s0x94c8c778774aabe1:0xa774e14ff290804e!8m2!3d-22.874601!4d-47.1286848">
        <i class="fas fa-map-marked-alt" style="color:white; font-size: 8vh;"></i>
      </a>
      <a style="display: flex; flex-direction: column; align-items: center;" target="_blank" href="https://www.google.com/maps/place/R.+Ant%C3%B4nio+Haddad,+185+-+Parque+Via+Norte,+Campinas+-+SP,+13065-702/@-22.8748306,-47.128833,19.6z/data=!4m5!3m4!1s0x94c8c778774aabe1:0xa774e14ff290804e!8m2!3d-22.874601!4d-47.1286848">
      <h2 style="color: white; font-weight: bold; margin-top: 5%;">IGREJA AVIVA CAMPINAS</h2>
      <p style="color: white; margin-top: 5%; font-weight: 400;">R. Antônio Haddad, 185</p>
      <p style="color: white">Parque Via Norte - Campinas/SP</p>
    </a>
    </div>
  </div>

  <div class="container nossosCultos margemSecoes" #comoChegar>
    <div class="rowMargin" style="width: -webkit-fill-available;">
      <div class="col">
        <h2 style="color: black; font-weight: bold; text-align: center;">Galeria</h2>
        <hr class="linhaPequena">
        <div class="rowMargin">
          <div class="columnMargin" style="background-color:#aaa;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[0]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#aaa;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[1]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#bbb;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[2]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>
          <div class="columnMargin" style="background-color:#bbb;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[3]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ccc;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[4]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>
          <div class="columnMargin" style="background-color:#ccc;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[5]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ddd;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[6]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ddd;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[7]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ddd;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[8]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ddd;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[9]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ddd;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[10]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

          <div class="columnMargin" style="background-color:#ddd;">
            <div class="card">
              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" [src]="galeria[11]" alt="Card image cap">
                  <div class="mask rgba-white-slight"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>

<!-- <div class="card">
  <div class="card-body">
    <h5 class="card-title">Angular CLI generate</h5>
    <br>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Scaffold</th>
            <th>Usage</th>
            <th>Alias</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cliGenerate">
            <td>{{ item.Scaffold }}</td>
            <td>{{ item.Usage }}</td>
            <td>{{ item.Alias }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
