.rowMetade {
  display: flex;
  flex-wrap: wrap;
  height: 65vh;
}

/* Create four equal columns */
.columnMetade {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .columnMetade {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .rowMetade {
    flex-direction: column;
  }
}

.localizacao{
  background-image: url('../../../assets/local.jpg');
  background-size: cover;
}

agm-map{
  height: 400px;
}

.h-txt {
  padding: 20 2%;
}

.container-aviva{
  position: absolute;
  /* background: rgba(131, 92, 92, 0.5); */
  margin-top: -39%;
  margin-left: 16%;
}

.overlay-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h1-aviva {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}

main {
  margin: 0 auto;
  width: 80%;
}

.p-aviva {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  line-height: 1.7rem;
}
/* #myVideo{} */

@media (min-aspect-ratio: 16/9){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #myVideo {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 8/5){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 3/2){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (aspect-ratio: 1/1){
  #myVideo {
    width: 100%;
    height: auto;
  }
}

.card-image{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.nossosCultos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.linhaPequena{
  margin-left: 45% !important;
  margin-right: 45% !important;
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  border: 1px solid rgb(0, 0, 0) !important;
  font-weight: bold !important;
}

.margemSecoes{
  margin-bottom: 6.5rem !important;
  margin-top: 6.5rem !important;
}

/* @media (max-width: 767px){
  #myVideo {
    width: 100%;
    height: 100%;
  }
} */

