<!-- <app-carousel ></app-carousel> -->

<div class="container" style="margin: 0px; padding: 0px; max-width: 100%;">

  <section id="hero" class="full-screen-video-container" style="height: 100%;">
    <video autoplay="true" muted playsinline loop id="myVideo">
      <source src="../../../assets/siteEscuro.mp4" type="video/mp4">
    </video>
    <div class="container-aviva">
      <div class="overlay-desc">
        <h1 class="h1-aviva">IGREJA AVIVA</h1>
        <p class="p-aviva">O <span style="font-weight: bold;">AMOR</span> NOS MOVE. O QUE TE MOVE?</p>
      </div>
    </div>
  </section>


  <div class="container mt-4">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">Welcome to AVIVA, the most beautiful thing you'll ever know!</p>
          <hr class="my-4">
          <p>Go ahead, dive deeper</p>
          <a class="btn btn-primary btn-lg" routerLink="/demo" role="button">Learn more</a>
        </div>

        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Angular CLI generate</h5>
            <br>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="thead-dark">
                  <tr>
                    <th>Scaffold</th>
                    <th>Usage</th>
                    <th>Alias</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cliGenerate">
                    <td>{{ item.Scaffold }}</td>
                    <td>{{ item.Usage }}</td>
                    <td>{{ item.Alias }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
