<section></section>

<div class="container mt-5">
  <ngb-alert *ngIf="successMessage !== ''" type="success" (close)="successMessage = ''">Bem-vindo à família <strong>Aviva</strong>! É uma honra de ter aqui! </ngb-alert>
  <ngb-alert *ngIf="obrigatorio !== ''" type="danger" (close)="obrigatorio = ''">Por favor, preencha todos os campos obrigatórios </ngb-alert>
  <div class="row">
    <div class="col">
      <h2>Cadastro de Novos Membros</h2>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-top: 34px;">
        <div class="form-group">
          <label>Nome*</label>
          <input type="text" class="form-control" name="nomeCompleto" #username="ngModel" ngModel required/>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" #email="ngModel" ngModel/>
        </div>
        <div class="form-group">
          <label>Data de nascimento*</label>
          <input type="text'" mask="00/00/0000" placeholder="__/__/_____" class="form-control" name="dataNasc" #dataNasc="ngModel" ngModel required />
        </div>
        <div class="form-group">
          <label>Telefone</label>
          <input type="text" mask="(00) 00000-0000" placeholder="(00) 00000-0000" class="form-control" name="telefone" #telefone="ngModel" ngModel />
        </div>
        <button type="submit" class="btn btn-outline-primary" style="border-radius: 4px;" data-toggle="modal" data-target="#exampleModal">
          Cadastrar
        </button>
      </form>

    </div>
  </div>
</div>
