<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" style="background-color: black !important;">

<div class="container mt-5" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <!-- Content -->
    <!-- <img src="../../../assets/logo.png" alt="" class="img-fluid"> -->
    <h5 class="font-weight-bold text-uppercase mb-4" style="color: white; font-size: 4vh;">IGREJA AVIVA</h5>
    <p>O amor nos move. O que te move?</p>

</div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 pb-5">© IGREJA AVIVA - Todos os direitos reservado
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
