
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper " style="max-width: 100%; height: auto;">
      <img src="../../../assets/1.png" class="img-fluid" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper d-block">
      <img src="../../../assets/2.png" class="img-fluid" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/3.png" class="img-fluid" alt="Random third slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/5.JPG" class="img-fluid" alt="Random fourth slide">
    </div>
  </ng-template>
</ngb-carousel>
