<nav class="navbar navbar-expand-md navbar-dark bg-primary" [ngClass]="{'sticky' : isSticky || test}">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" style="width: 50%;"><img src="../../../assets/logo.png" class="img-fluid"></a>
    <button class="navbar-toggler" type="button" (click)="collapsed()"
    [attr.aria-expanded]="!isCollapsed" aria-controls="navmemu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navmemu" [ngbCollapse]="isCollapsed" style="justify-content: flex-end;">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/cadastroMembro">Cadastro de Membros</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
